<div class="row">
    <div class="col-md-12">
      <button class="btn btn-success" (click)="addShopping()">Add Item</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="shopping-list col-md-3" *ngIf="shoppings.length > 0">
      <app-shopping-list-element
        *ngFor="let shopping of shoppings"
        [shopping]="shopping"
        (click)='select(shopping)'
      >
      </app-shopping-list-element>
    </div>
    <div class="col-md-9">
      <app-shopping-view *ngIf="currentShopping !== null"
                         [shopping]="currentShopping"
                         (fireDelete)='deleteCurrent()'>
      </app-shopping-view>
    </div>
  </div>
  